/* LATO FONT FROM GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* GENERAL */
* {
  box-sizing: border-box;
  color: #fefefe;
}

html {
  height: 100vh;
  background: url("./blurred-golf-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-margin {
  margin-top: 40px;
}

.form-field-container {
  margin-top: 10px !important;
}

.form-field {
  width: 60vw;
}

.button-width{
  width: 70%;
  margin-top: 20px !important;
}

#howManyMade{
  width: 40px;
height:30px;
}



