/* LATO FONT FROM GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* GENERAL */
* {
  box-sizing: border-box;
  color: #fefefe;
}

html {
  height: 100vh;
  background: url("./blurred-golf-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.grid-margin {
  margin-top: 40px;
}

.form-field-container {
  margin-top: 10px !important;
}

.form-field {
  width: 60vw;
}

.button-width{
  width: 70%;
  margin-top: 20px !important;
}

#howManyMade{
  width: 45px;
height:35px;
}

.material-icons{
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
}

@media only screen and (min-width: 600px) {
  .form-field {
    width: 30vw;
  }

  
  .button-width{
    width: 30%;
    margin-top: 20px !important;
  }
  
}


