

/* LATO FONT FROM GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* GENERAL */
* {
  box-sizing: border-box;
  color: #fefefe
}

html {
  height: 100vh;
  background: url('./blurred-golf-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: 300;
  font-size: 74px;
  margin-bottom: 5%;
}

h2 {
  font-weight: 300;
  font-size: 30px;
}

